<div class="panel panel-primary">
	<div class="panel-heading panel-text">
		<h6>Edit pin</h6>
	</div>

	<div class="panel-body">
		<%= render 'form' %>
	</div>

	<div class="panel-footer">

		<%= link_to 'Show', @pin, class: 'btn btn-primary' %> |
		<%= link_to 'Back', pins_path, class: 'btn btn-danger' %>
	</div>
</div>
