<div class="jumbotron">
  <div class="container">
    <h2 class="h2">Welcome to Pintresting Find More Pictures</h2>
    <div class="login">
    <%= link_to 'Login',{},class:'btn btn-warning btn-lg' %>
    <%= link_to 'SignUp',{},class:'btn btn-success btn-lg' %>
  	</div>
</div>
